@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --BlackColor: #191A27;
  --GreenColor: #CFEF79;
  --VioletColor:#6E60EB;
}
